<h2>Confirm Book Return</h2>

<table border="1" cellpadding="8">
  <tr>
    <th>User</th>
    <td><%= tx.userId ? tx.userId.username : 'N/A' %></td>
  </tr>

  <tr>
    <th>Book</th>
    <td><%= tx.bookId ? tx.bookId.title : 'N/A' %></td>
  </tr>

  <tr>
    <th>Issue Date</th>
    <td><%= tx.issueDate ? tx.issueDate.toDateString() : '-' %></td>
  </tr>

  <tr>
    <th>Due Date</th>
    <td><%= tx.returnDate ? tx.returnDate.toDateString() : '-' %></td>
  </tr>

  <tr>
    <th>Return Date</th>
    <td><%= today.toDateString() %></td>
  </tr>

  <tr>
    <th>Late Days</th>
    <td><%= lateDays %></td>
  </tr>

  <tr>
    <th>Fine</th>
    <td>₹ <%= fine %></td>
  </tr>
</table>

<br>

<form method="POST" action="/transactions/admin/confirm-return">
  <input type="hidden" name="txId" value="<%= tx._id %>">
  <input type="hidden" name="fine" value="<%= fine %>">
  <button>Confirm Return</button>
</form>

<br>
<a href="/transactions/admin/returns">Cancel</a>
